@font-face {
	font-family:"AntennaLight";
	src:url("fonts/Antenna/Antenna-Light.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaLightItalic";
	src:url("fonts/Antenna/Antenna-LightItalic.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"Antenna";
	src:url("fonts/Antenna/Antenna-Regular.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaItalic";
	src:url("fonts/Antenna/Antenna-RegularItalic.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaBlack";
	src:url("fonts/Antenna/Antenna-Black.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"FarnhamText";
	src:url("fonts/Farnham/FarnhamText-Regular.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"FarnhamTextBold";
	src:url("fonts/Farnham/FarnhamText-Bold.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

.float {
	float: left;
}

.yellow-block {
	background-color: #f6b031;
	color:#fff;
}

.yellow-text {
	color: #f6b031;
}

.yellow-border {
	border: 3px solid #f6b031;
}

.red-block {
	background-color: #ef6c68;
	color:#fff;
}

.red-text {
	color: #ef6c68;
}

.red-border {
	border: 3px solid #ef6c68;
}

.green-block {
	background-color: #829f20;
	color:#fff;
}

.green-text {
	color: #829f20;
}

.green-border {
	border: 3px solid #829f20;
}

.blue-block {
	background-color: #25a5cc;
	color:#fff;
}

.blue-text {
	color: #25a5cc;
}

.blue-border {
	border: 3px solid #25a5cc;
}

.brown-block {
	background-color: #4b3a22;
	color:#fff;
}

.brown-text {
	color: #4b3a22;
}

.brown-border {
	border: 3px solid #4b3a22;
}

.white-block {
	background-color: #fff;
	color:#000;
}

.white-text {
	color: #fff;
}

.fixed {
	position: fixed;
}



#jump-nav {
	height: 36px;
	padding: 0 10px;
	position: fixed;
	top:0;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.13);
	border: 1px rgba(0, 0, 0, 0.13);
}

#jump-nav .left-nav {
	width:40%;
	margin: 5px 0 0 0;
}

#jump-nav .right-nav {
	width:50%;
}

#hamburger-expand-menu {
	height: 26px;
	margin-left: 40px;
}

#chronicle-masthead {
	height: 26px;
	margin: 0 20px;
	width: 192px;
	background-image: url("img/icons/Chronicle_Full.svg");
	background-size: cover;
}
#jump-nav h4 {
	font-size: 18px;
	color: #fff;
	margin: 0;
	margin-left:40px;
	font-family: "AntennaLight";
	font-weight: 200;
}

#jump-nav h4 a {
	color: #fff;
}
#jump-nav h4 a:hover {
	color: #fff;
}

#jump-nav .sub-nav {
	padding-top:0;
	margin-top:0;
}
.brown-block .sub-nav dd {
	width:20%;
	margin:0 !important;
	padding: 0;
	opacity: .4;
}

#jump-nav .sub-nav dd:hover {
	opacity: 1;
}
#jump-nav .sub-nav dd.active {
	opacity: 1;
}

body .brown-block:nth-child(1) .sub-nav dd {
	opacity: 1;
}
body .brown-block:nth-child(2) .sub-nav dd {
	opacity: .4;
}

.sub-nav dd img {
	width:80%;
	margin: 0 10%;
	margin-top: -130px;
	display: none;
}

.intro #jump-nav .sub-nav dd img {
	margin-top: 0px;
	display: none;
}


#jump-nav dd p {
	font-family: "AntennaLight";
	text-align: center;
	padding-top: 7px;
	padding-bottom: 5px;
	margin:0;
	font-size: 15px;
}


.sub-nav dd.active a:hover {
	background-color: inherit;
}

#jump-nav dd a {
	color: #fff;
}

.sub-nav dd.active a {
	background-color: inherit;
}

.sub-nav dd.active a:hover {
	background-color: inherit;
}

.sub-nav dd a,
.sub-nav dd.active a {
	padding:0;
}

.social {
	height:20px;
	float:left;
	margin:10px 0;
	margin-left:20px;
}
#facebook-m,
#twitter-m {
	display: none;
	float:right;
	margin: 5px 0;
	margin-left:10px;
}

#facebook-m {
	margin-right:30px;
	height:18px;
}

#facebook,
#twitter {
	display: inline-block;
}

.breadcrumb-m {
	display: none;
}



@media screen and (max-width: 1340px) {
	#jump-nav h4 {
		margin-left:10px;
	}

	#facebook,
	#twitter {
		margin-left:15px;
	}
}
@media screen and (max-width: 1260px) {
	#chronicle-masthead {
		width: 25px;
		margin: 0 7px;
		background-image: url("img/icons/Chronicle_C.svg");
	}	
	#jump-nav .left-nav {
		width:30%;
	}

	#jump-nav .right-nav {
		width:60%;
	}
	.sub-nav dd img {
		width:70%;
		margin: 0 15%;
	}
}

@media screen and (max-width: 1020px) {
	#jump-nav {
		padding: 0 10%;
	}
	#jump-nav .left-nav {
		width:100%;
	}

	#jump-nav .right-nav {
		width:100%;
	}
	#facebook-m,
	#twitter-m {
		display: inline-block;
	}

	#facebook,
	#twitter {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	#jump-nav {
		padding: 0;
	}
}

@media screen and (max-width: 600px) {
	#jump-nav .left-nav {
		width: 90%;
	}

	#jump-nav .right-nav {
		width: 10%;
		position: fixed;
		right: 0;
	}
	#jump-nav .sub-nav dd {
		float: right;
		width: 100%;
		height: 7.2px;
		opacity:1;
	}

	
	
	#jump-nav .sub-nav dd p  {
		display:none;
	}
	#jump-nav .sub-nav:hover dd {
		height: 30px;
		width: 130%;
	}
	
	#jump-nav .sub-nav:hover dd p  {
		opacity: .01;
		display: inline;
	}
	.breadcrumb-m {
		display: block;
		width: 50%;
		float:left;
		padding-bottom: 4px;
	}
	#jump-nav .sub-nav:hover .breadcrumb-m {
		display: none;
	}
	.breadcrumb-m img {
		height: 32px;
		margin: 0 5px;
	}

	#facebook-m {
	margin-right:10px;
}
}

@media screen and (max-width: 490px) {
	.breadcrumb-m img {
		margin: 0;
	}
}




.article-head {
	width: 56%;
	margin:0 22%;
	margin-top:100px;
}
.article-head h1 {
	font-family: "Antenna";
	 	
}

.intro-image {
	height: 420px;
	padding-top:0;
	width:100%;
	margin: 0;
}

.intro {
	margin-top: -10px
}

.head-wrapper {
	width:100%;
	height: 500px;
	padding:40px 10%;
	padding-top:280px;
}


.headline {
	font-family: "Antenna";
	font-size: 86px;
	float: left;
	margin-left: -14px;
	position: relative;
}


.real-estate-head .headline {
	margin-left: -35px;
	margin-top: 20px;
}

.food-head .headline {
	margin-left: 5px;
	margin-top: 20px;
}

.lifestyle-head .headline {
	margin-left: 8px;
	margin-top: 28px;
}

.tech-head .headline {
	margin-left: -4px;
	margin-top:10px;
}
.transportation-head {
	width:110%;
}
.transportation-head .headline {
	font-size: 80px;
	margin-left:5px;
	margin-top: 20px;
}
.head-wrapper img {
	float:left;
	position: relative;
}
.real-estate-head img {
	height: 120px;
	margin-left: -20px
}

.food-head img {
	height: 100px;
	margin-top: 20px;
}

.lifestyle-head img {
	height: 150px;
	margin-top: -20px;
}

.tech-head img {
	height: 86px;
	margin-top: 24px;
}

.transportation-head img {
	height: 94px;
	margin-top: 26px;
}

.content .text {
	font-family: "Antenna";
	line-height: 1.5em;

}

.timeline-center {
	padding: 40px 50px;
	width:70%;
	margin: 0 15%;
	display: inline-block;
	background-color: #fff;
	box-sizing: border-box;

}

.timeline-center .wine {
	width:90%;
	margin-bottom:15px;
}
.photo-above .price-tag {
	position: relative;
	top:0;
	left:20px;
	z-index: 1000;
}

.half-padding {
	padding-top:30px;
}
.spine {
	width:2px;
	height: 80px;
	margin-left:49.5%;
}
.intro-border {
	border: 2px solid transparent;
  	-moz-border-image: -moz-linear-gradient(top left, #f6b031, #ef6c68, #829f20, #25a5cc);
  	-webkit-border-image: -webkit-linear-gradient(top left, #f6b031, #ef6c68, #829f20, #25a5cc);
  	border-image: linear-gradient(top left, #f6b031, #ef6c68, #829f20, #25a5cc);
  	border-image-slice: 1;
  	padding-bottom: 15px;
  }

.spine-yellow-red {
  background: -webkit-linear-gradient(top, #f6b031, #ef6c68); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #f6b031, #ef6c68); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #f6b031, #ef6c68); /* For Firefox 3.6 to 15 */
  background: linear-gradient (top, #f6b031, #ef6c68); /* Standard syntax */
}

.spine-red-green {
  background: -webkit-linear-gradient(top, #ef6c68, #829f20); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #ef6c68, #829f20); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #ef6c68, #829f20); /* For Firefox 3.6 to 15 */
  background: linear-gradient (top, #ef6c68, #829f20); /* Standard syntax */
}
.spine-blue-red {
  background: -webkit-linear-gradient(top, #25a5cc, #ef6c68); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #25a5cc, #ef6c68); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #25a5cc, #ef6c68); /* For Firefox 3.6 to 15 */
  background: linear-gradient (top, #25a5cc, #ef6c68); /* Standard syntax */
}
.spine-green-yellow {
  background: -webkit-linear-gradient(top, #829f20, #f6b031); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #829f20, #f6b031); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #829f20, #f6b031); /* For Firefox 3.6 to 15 */
  background: linear-gradient (top, #829f20, #f6b031); /* Standard syntax */
}

.spine-green-blue {
  background: -webkit-linear-gradient(top, #829f20, #25a5cc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #829f20, #25a5cc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #829f20, #25a5cc); /* For Firefox 3.6 to 15 */
  background: linear-gradient (top, #829f20, #25a5cc); /* Standard syntax */
}

.spine-blue-brown {
  background: -webkit-linear-gradient(top, #25a5cc, #4b3a22); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #25a5cc, #4b3a22); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #25a5cc, #4b3a22); /* For Firefox 3.6 to 15 */
  background: linear-gradient (top, #25a5cc, #4b3a22); /* Standard syntax */
}
.text .spine:last-child {
	height:140px;
}

.text .photo-below {
	border-width: 4px;
	margin-top:-2px;
}
.text .photo-above {
	border-width: 4px;
	margin-bottom:-3px;
}
@media screen and (max-width: 920px) {
	.transportation-head .headline {
		font-size: 64px;
		margin-top:38px;
	}
	.head-wrapper {
	width:100%;
	height: 340px;
	padding:40px 5%;
	padding-top:150px;
}


}
@media screen and (max-width: 751px) {
	.real-estate-head .headline {
		font-size: 74px;
		margin-top: 30px
	}
	.transportation-head .headline {
		font-size: 54px;
		margin-top:0;
	}
	.transportation-head img {
		height: 66px;
		margin-top: 0;
	}
	.timeline-center {
		padding: 20px 30px;
		width:84%;
		margin: 0 8%;

	}
}

@media screen and (max-width: 660px) {
	.real-estate-head .headline {
		font-size: 66px;
		margin-top: 36px;
	}
	.timeline-center {
		padding: 30px 40px;
		width:86%;
		margin: 0 7%;

	}
	.content .text p {
		font-size: .9rem;
	}


}

@media screen and (max-width: 600px) {
	.headline {
		font-size: 60px;
	}
	.real-estate-head .headline {
		font-size: 42px;
		margin-top: 48px;
		margin-left: -30px
	}
	.real-estate-head img {
		height:100px;
		margin-top:8px;
	}
	
	
	.transportation-head .headline {
		font-size: 36px;
		margin-left:0;
		margin-top:36px;
	}
	.food-head img {
		height: 84px;
		margin-top:10px;
	}

	.lifestyle-head img {
		height: 100px;
		margin-top: -1px;
	}
	.tech-head .headline {
		margin-left: 0px;
		margin-top:18px;
		font-size:66px;
	}
	.tech-head img {
		height: 86px;
		margin-top: 11px;
	}

	.transportation-head img {
		height: 60px;
		margin-top: 25px;
	}
	.head-wrapper {
	width:100%;
	height: 240px;
	padding:40px 5%;
	padding-top:70px;
}
.timeline-center {
	padding: 20px 30px;
	width:90%;
	margin: 0 5%;

}
.timeline-center .wine {
	width:100%;
	margin-left:-20px;
}

}



.m-scene .scene_element {
    animation-duration: 1.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
    animation-name: fadeIn;
}

.m-scene .scene_element--fadeinup {
    animation-name: fadeInUp;
}

.m-scene .scene_element--fadeinright {
    animation-name: fadeInRight;
}

  /** Reverse "exit" animations
  &.is-exiting {
      .scene_element {
        animation-direction: alternate-reverse;
      }
  }*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
