@font-face {
	font-family:"AntennaLight";
	src:url("fonts/Antenna/Antenna-Light.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaLightItalic";
	src:url("fonts/Antenna/Antenna-LightItalic.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"Antenna";
	src:url("fonts/Antenna/Antenna-Regular.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaItalic";
	src:url("fonts/Antenna/Antenna-RegularItalic.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaBlack";
	src:url("fonts/Antenna/Antenna-Black.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"FarnhamText";
	src:url("fonts/Farnham/FarnhamText-Regular.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"FarnhamTextBold";
	src:url("fonts/Farnham/FarnhamText-Bold.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

.float {
	float: left;
}

.yellow-block {
	background-color: #f6b031;
	color:#fff;
}

.yellow-text {
	color: #f6b031;
}

.red-block {
	background-color: #ef6c68;
	color:#fff;
}

.red-text {
	color: #ef6c68;
}

.green-block {
	background-color: #829f20;
	color:#fff;
}

.green-text {
	color: #829f20;
}

.blue-block {
	background-color: #25a5cc;
	color:#fff;
}

.blue-text {
	color: #25a5cc;
}

.brown-block {
	background-color: #4b3a22;
	color:#fff;
}

.brown-text {
	color: #4b3a22;
}

.white-block {
	background-color: #fff;
	color:#000;
}

.white-text {
	color: #fff;
}

.fixed {
	position: fixed;
}

body .brown-block:nth-child(1) {
}
body .brown-block:nth-child(2) {
}


#jump-nav {
	height: 36px;
	padding: 0 10px;
	position: fixed;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.13);
	border: 1px rgba(0, 0, 0, 0.13);
}

#jump-nav .left-nav {
	width:40%;
	margin: 5px 0 0 0;
}

#jump-nav .right-nav {
	width:50%;
}

#hamburger-expand-menu {
	height: 26px;
	margin-left: 40px;
}

#chronicle-masthead {
	height: 26px;
	margin: 0 20px;
	width: 192px;
	background-image: url("img/icons/Chronicle_Full.svg");
	background-size: cover;
}
#jump-nav h4 {
	font-size: 18px;
	color: #fff;
	margin: 0;
	margin-left:40px;
	font-family: "AntennaLight";
	font-weight: 200;
}

#jump-nav h4 a {
	color: #fff;
}
#jump-nav h4 a:hover {
	color: #fff;
}
#jump-nav .sub-nav dd {
	width:20%;
	margin:0 !important;
	padding: 0;
	opacity: .4;
}
.intro #jump-nav .sub-nav dd {
	opacity: 1;
}
#jump-nav .sub-nav dd:hover {
	opacity: 1;
}
#jump-nav .sub-nav dd.active {
	opacity: 1;
}

.sub-nav dd img {
	width:80%;
	margin: 0 10%;
	margin-top: -130px;
	display: none;
}

.intro #jump-nav .sub-nav dd img {
	margin-top: 0px;
	display: none;
}


#jump-nav dd p {
	font-family: "AntennaLight";
	text-align: center;
	padding-top: 7px;
	padding-bottom: 5px;
	margin:0;
	font-size: 15px;
}


.sub-nav dd.active a:hover {
	background-color: inherit;
}

#jump-nav dd a {
	color: #fff;
}

.sub-nav dd.active a {
	background-color: inherit;
}

.sub-nav dd.active a:hover {
	background-color: inherit;
}

.sub-nav dd a,
.sub-nav dd.active a {
	padding:0;
}

.social {
	height:20px;
	float:left;
	margin:10px 0;
	margin-left:20px;
}
#facebook-m,
#twitter-m {
	display: none;
	float:right;
	margin: 5px 0;
	margin-left:20px;
}

#facebook-m {
	margin-right:30px;
}

#facebook,
#twitter {
	display: inline-block;
}

.breadcrumb-m {
	display: none;
}



@media screen and (max-width: 1340px) {
	#jump-nav h4 {
		margin-left:10px;
	}

	#facebook,
	#twitter {
		margin-left:15px;
	}
}
@media screen and (max-width: 1260px) {
	#chronicle-masthead {
		width: 25px;
		margin: 0 7px;
		background-image: url("img/icons/Chronicle_C.svg");
	}	
	#jump-nav .left-nav {
		width:30%;
	}

	#jump-nav .right-nav {
		width:60%;
	}
	.sub-nav dd img {
		width:70%;
		margin: 0 15%;
	}
}

@media screen and (max-width: 1020px) {
	#jump-nav {
		padding: 0 10%;
	}
	#jump-nav .left-nav {
		width:100%;
	}

	#jump-nav .right-nav {
		width:100%;
	}
	#facebook-m,
	#twitter-m {
		display: inline-block;
	}

	#facebook,
	#twitter {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	#jump-nav {
		padding: 0;
	}
}

@media screen and (max-width: 600px) {
	#jump-nav .left-nav {
		width: 80%;
	}

	#jump-nav .right-nav {
		width: 20%;
		position: fixed;
		right: 0;
	}
	#jump-nav .sub-nav dd {
		float: right;
		width: 100%;
		height: 7.2px;
	}

	.intro #jump-nav .sub-nav .yellow-block {
		width: 80%;
	}
	.intro #jump-nav .sub-nav .red-block {
		width: 65%;
	}
	.intro #jump-nav .sub-nav .green-block {
		width: 100%;
	}
	.intro #jump-nav .sub-nav .blue-block {
		width: 45%;
	}
	.section #jump-nav .sub-nav dd {
		width: 50%;
		opacity: 1;
	}

	.intro #jump-nav .sub-nav dd img,
	.section #jump-nav .sub-nav dd img {
		display: none;
		margin-top: 6px;
	}
	.intro #jump-nav .sub-nav dd p,
	.section #jump-nav .sub-nav dd p  {
		opacity: 0;
		font-size: 10px;
	}
	.intro #jump-nav .sub-nav:hover dd,
	.section #jump-nav .sub-nav:hover dd {
		height: inherit;
		width: 100%;
	}
	#jump-nav .sub-nav:hover dd img {
		display: inline;
	}
	#jump-nav .sub-nav:hover dd p  {
		opacity: 1;
	}
	.breadcrumb-m {
		display: block;
		width: 50%;
		float:left;
		padding-bottom: 4px;
	}
	#jump-nav .sub-nav:hover .breadcrumb-m {
		display: none;
	}
	.breadcrumb-m img {
		height: 32px;
		margin: 0 5px;
	}
}

@media screen and (max-width: 490px) {
	.breadcrumb-m img {
		margin: 0;
	}
}



.intro .intro-image {
	height: 420px;
	padding-top:70px;
	width:100%;
	margin: 0;
}

 .head-wrapper {
	width:100%;
	height: 240px;
	padding:40px 10%;
	padding-top:70px;
}

.intro .content {
	margin-top: 80px;
}

.section .content {
	margin-top:100px;
}

.headline {
	font-family: "Antenna";
	font-size: 86px;
	float: left;
	margin-left: -14px;
	position: relative;
}


 .real-estate-head .headline {
	margin-left: -35px;
	margin-top: 20px;
}

.section .food-head .headline {
	margin-left: 5px;
	margin-top: 20px;
}

.section .lifestyle-head .headline {
	margin-left: 8px;
	margin-top: 28px;
}

.section .tech-head .headline {
	margin-left: -4px;
	margin-top:10px;
}
.section .transportation-head {
	width:110%;
}
.section .transportation-head .headline {
	font-size: 80px;
	margin-left:5px;
	margin-top: 20px;
}
 .head-wrapper img {
	float:left;
	position: relative;
}
 .real-estate-head img {
	height: 120px;
	margin-left: -20px
}

.section .food-head img {
	height: 100px;
	margin-top: 20px;
}

.section .lifestyle-head img {
	height: 150px;
	margin-top: -20px;
}

.section .tech-head img {
	height: 86px;
	margin-top: 24px;
}

.section .transportation-head img {
	height: 94px;
	margin-top: 26px;
}

.section .content .text {
	font-family: "FarnhamText"

}

@media screen and (max-width: 751px) {
	.section .transportation-head .headline {
		font-size: 54px;
	}
	.section .transportation-head img {
		height: 66px;
		margin-top: 0;
	}
}

@media screen and (max-width: 600px) {
	.section .headline {
		font-size: 60px;
	}
	.section .transportation-head img {
		display: none;
	}
	.section .food-head .headline {
		margin-left:-9px;
	}
	.section .transportation-head .headline {
		font-size: 40px
	}
	.section .food-head img {
		height: 80px;
		margin-top: -5px;
	}

	.section .lifestyle-head img {
		height: 100px;
		margin-top: -10px;
	}

	.section .tech-head img {
		height: 90px;
		margin-top: 11px;
	}

	.section .transportation-head img {
		height: 75px;
		margin-top: 25px;
	}

}




.images {
	width:100%;
	margin:0;
	padding:0;
}

.images .food {
	width:25%;
	margin:0;
	padding:0;
	float:left;
	height:300px;
}
.lead {
	background: url("img/fake/lead.jpg") no-repeat;
	background-size: cover;
	width:100%;
	height:800px;
}

.food1 {
	background: url("img/fake/food1.jpg") no-repeat;
	background-size: cover;
}

.food2 {
	background: url("img/fake/food2.gif") no-repeat;
	background-size: cover;
}

.food3 {
	background: url("img/fake/food3.jpg") no-repeat;
	background-size: cover;
}

.food4 {
	background: url("img/fake/food4.jpg") no-repeat;
	background-size: cover;
}


.lifestyle1 {
	background: url("img/fake/lifestyle1.gif") no-repeat;
	background-size: cover;
}

.lifestyle2 {
	background: url("img/fake/lifestyle2.jpg") no-repeat;
	background-size: cover;
}

.lifestyle3 {
	background: url("img/fake/lifestyle3.jpg") no-repeat;
	background-size: cover;
}

.lifestyle4 {
	background: url("img/fake/lifestyle4.jpg") no-repeat;
	background-size: cover;
}



.m-scene .scene_element {
    animation-duration: 1.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
    animation-name: fadeIn;
}

.m-scene .scene_element--fadeinup {
    animation-name: fadeInUp;
}

.m-scene .scene_element--fadeinright {
    animation-name: fadeInRight;
}

  /** Reverse "exit" animations
  &.is-exiting {
      .scene_element {
        animation-direction: alternate-reverse;
      }
  }*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
