@font-face {
	font-family:"AntennaLight";
	src:url("fonts/Antenna/Antenna-Light.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaLightItalic";
	src:url("fonts/Antenna/Antenna-LightItalic.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"Antenna";
	src:url("fonts/Antenna/Antenna-Regular.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaItalic";
	src:url("fonts/Antenna/Antenna-RegularItalic.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"AntennaBlack";
	src:url("fonts/Antenna/Antenna-Black.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"FarnhamText";
	src:url("fonts/Farnham/FarnhamText-Regular.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

@font-face {
	font-family:"FarnhamTextBold";
	src:url("fonts/Farnham/FarnhamText-Bold.otf") format("opentype");
	font-style:normal;
	font-weight:normal}

.float {
	float: left;
}

.yellow-block {
	background-color: #f6b031;
	color:#fff;
}

.yellow-text {
	color: #f6b031;
}

.red-block {
	background-color: #ef6c68;
	color:#fff;
}

.red-text {
	color: #ef6c68;
}

.green-block {
	background-color: #829f20;
	color:#fff;
}

.green-text {
	color: #829f20;
}

.blue-block {
	background-color: #25a5cc;
	color:#fff;
}

.blue-text {
	color: #25a5cc;
}

.brown-block {
	background-color: #4b3a22;
	color:#fff;
}

.brown-text {
	color: #4b3a22;
}


body .brown-block:nth-child(1) {

}
body .brown-block:nth-child(2) {
	
}
#jump-nav {
	height: 36px;
	padding: 0 60px;
}

#jump-nav .left-nav {
	width:40%;
	margin: 5px 0;
}

#jump-nav .right-nav {
	width:50%;
}

#hamburger-expand-menu {
	height: 26px;
}

#chronicle-masthead {
	height: 26px;
	margin: 0 20px;
}
#jump-nav h4 {
	font-size: 20px;
	color: #fff;
	margin: 0;
	font-family: "Antenna";
	font-weight: 200;

}
#jump-nav .sub-nav dd {
	width:20%;
	margin:0 !important;
	padding: 0;
}


#jump-nav .sub-nav dd img {
	width:80%;
	margin: 0 10%;
	margin-top: -130px;
	display: none;
}
#jump-nav .sub-nav dd:hover img {
	margin-top: 0px;
	display: inline;
}

#jump-nav dd p {
	font-family: "Antenna";
	text-align: center;
	padding-top: 7px;
	padding-bottom: 5px;
	margin:0;
	font-size: 15px;
}
body .brown-block:nth-child(2) .sub-nav dd p {
	opacity: 0;
}

body .brown-block:nth-child(2) .sub-nav dd.active p {
	opacity:1;
}

body .brown-block:nth-child(2) .sub-nav dd:hover p {
	opacity:1;
}

.sub-nav dd.active a:hover {
	background-color: inherit;
}

#jump-nav dd a {
	color: #fff;
}

.sub-nav dd.active a {
	background-color: inherit;
}

.sub-nav dd.active a:hover {
	background-color: inherit;
}

.sub-nav dd a,
.sub-nav dd.active a {
	padding:0;
}




.images {
	width:100%;
	margin:0;
	padding:0;
}

.images .food {
	width:25%;
	margin:0;
	padding:0;
	float:left;
	height:300px;
}
.lead {
	background: url("img/fake/lead.jpg") no-repeat;
	background-size: cover;
	width:100%;
	height:800px;
}

.food1 {
	background: url("img/fake/food1.jpg") no-repeat;
	background-size: cover;
}

.food2 {
	background: url("img/fake/food2.gif") no-repeat;
	background-size: cover;
}

.food3 {
	background: url("img/fake/food3.jpg") no-repeat;
	background-size: cover;
}

.food4 {
	background: url("img/fake/food4.jpg") no-repeat;
	background-size: cover;
}


.lifestyle1 {
	background: url("img/fake/lifestyle1.gif") no-repeat;
	background-size: cover;
}

.lifestyle2 {
	background: url("img/fake/lifestyle2.jpg") no-repeat;
	background-size: cover;
}

.lifestyle3 {
	background: url("img/fake/lifestyle3.jpg") no-repeat;
	background-size: cover;
}

.lifestyle4 {
	background: url("img/fake/lifestyle4.jpg") no-repeat;
	background-size: cover;
}

