<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">

<style type="text/css">

.float {
	float: left;
}

.yellow-block {
	background-color: #f6b031;
	color:#fff;
}

.yellow-text {
	color: #f6b031;
}

.red-block {
	background-color: #ef6c68;
	color:#fff;
}

.red-text {
	color: #ef6c68;
}

.green-block {
	background-color: #829f20;
	color:#fff;
}

.green-text {
	color: #829f20;
}

.blue-block {
	background-color: #25a5cc;
	color:#fff;
}

.blue-text {
	color: #25a5cc;
}

.brown-block {
	background-color: #4b3a22;
	color:#fff;
}

.brown-text {
	color: #4b3a22;
}

.white-block {
	background-color: #fff;
	color:#000;
}

.white-text {
	color: #fff;
}

.fixed {
	position: fixed;
}

body .brown-block:nth-child(1) .sub-nav dd {
	opacity: 1;
}
body .brown-block:nth-child(2) .sub-nav dd {
	opacity: 1;
}

.article_page #content {
margin: 0;
}

.zone-5 {
       position: fixed;
       top: 0;
}

.hdnce-item-43416 {
       position: fixed;
       top: 0;
}

#jump-nav {
	height: 36px;
	padding: 0 10px;
	position: fixed;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.13);
	border: 1px rgba(0, 0, 0, 0.13);
       font-family: "Antenna", sans-serif;
}

#jump-nav .left-nav {
	width:40%;
	margin: 5px 0 0 0;
}

#jump-nav .right-nav {
	width:50%;
}

#hamburger-expand-menu {
	height: 26px;
	margin-left: 40px;
}

#chronicle-masthead {
	height: 26px;
	margin: 0 20px;
	width: 192px;
	background-image: url("http://ww4.preprod.hdnux.com/photos/40/16/33/8447715/4/200x200.png");
	background-size: cover;
}
#jump-nav h4 {
	font-size: 18px;
	color: #fff;
	margin: 0;
	margin-left:40px;
        font-family: "Antenna", sans-serif;
	font-weight: 200;
}

#jump-nav h4 a {
	color: #fff;
}
#jump-nav h4 a:hover {
	color: #fff;
}
#jump-nav .sub-nav dd {
	width:20%;
	margin:0 !important;
	padding: 0;
	opacity: .4;
}
.intro #jump-nav .sub-nav dd {
	opacity: 1;
}
#jump-nav .sub-nav dd:hover {
	opacity: 1;
}
#jump-nav .sub-nav dd.active {
	opacity: 1;
}



#jump-nav dd p {
	font-family: "Antenna", sans-serif;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 5px;
	margin:0;
	font-size: 15px;
}


.sub-nav dd.active a:hover {
	background-color: inherit;
}

#jump-nav dd a {
	color: #fff;
}

.sub-nav dd.active a {
	background-color: inherit;
}

.sub-nav dd.active a:hover {
	background-color: inherit;
}

.sub-nav dd a,
.sub-nav dd.active a {
	padding:0;
}

.social {
	height:20px;
	float:left;
	margin:10px 0;
	margin-left:20px;
}
#facebook-m,
#twitter-m {
	display: none;
	float:right;
	margin: 5px 0;
	margin-left:20px;
}

#facebook-m {
	margin-right:30px;
}

#facebook,
#twitter {
	display: inline-block;
}

.breadcrumb-m {
	display: none;
}



@media screen and (max-width: 1340px) {
	#jump-nav h4 {
		margin-left:10px;
	}

	#facebook,
	#twitter {
		margin-left:15px;
	}
}
@media screen and (max-width: 1260px) {
	#chronicle-masthead {
		width: 25px;
		margin: 0 7px;
		background-image: url("http://ww3.preprod.hdnux.com/photos/40/16/33/8447714/4/80x80_square.png");
	}	
	#jump-nav .left-nav {
		width:30%;
	}

	#jump-nav .right-nav {
		width:60%;
	}
	.sub-nav dd img {
		width:70%;
		margin: 0 15%;
	}
}

@media screen and (max-width: 1020px) {
	#jump-nav {
		padding: 0 10%;
	}
	#jump-nav .left-nav {
		width:100%;
	}

	#jump-nav .right-nav {
		width:100%;
	}
	#facebook-m,
	#twitter-m {
		display: inline-block;
	}

	#facebook,
	#twitter {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	#jump-nav {
		padding: 0;
	}
}

@media screen and (max-width: 600px) {
	#jump-nav .left-nav {
		width: 80%;
	}

	#jump-nav .right-nav {
		width: 20%;
		position: fixed;
		right: 0;
	}
	#jump-nav .sub-nav dd {
		float: right;
		width: 100%;
		height: 7.2px;
	}

	.intro #jump-nav .sub-nav .yellow-block {
		width: 80%;
	}
	.intro #jump-nav .sub-nav .red-block {
		width: 65%;
	}
	.intro #jump-nav .sub-nav .green-block {
		width: 100%;
	}
	.intro #jump-nav .sub-nav .blue-block {
		width: 45%;
	}
	.section #jump-nav .sub-nav dd {
		width: 50%;
		opacity: 1;
	}

	.intro #jump-nav .sub-nav dd img,
	.section #jump-nav .sub-nav dd img {
		display: none;
		margin-top: 6px;
	}
	.intro #jump-nav .sub-nav dd p,
	.section #jump-nav .sub-nav dd p  {
		opacity: 0;
		font-size: 10px;
	}
	.intro #jump-nav .sub-nav:hover dd,
	.section #jump-nav .sub-nav:hover dd {
		height: inherit;
		width: 100%;
	}
	#jump-nav .sub-nav:hover dd img {
		display: inline;
	}
	#jump-nav .sub-nav:hover dd p  {
		opacity: 1;
	}
	.breadcrumb-m {
		display: block;
		width: 50%;
		float:left;
		padding-bottom: 4px;
	}
	#jump-nav .sub-nav:hover .breadcrumb-m {
		display: none;
	}
	.breadcrumb-m img {
		height: 32px;
		margin: 0 5px;
	}
}

@media screen and (max-width: 490px) {
	.breadcrumb-m img {
		margin: 0;
	}
}

.article-wrap {
  width: 96%;
  float: none;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.nav {
  background: none;
}

#grp-nav {
  position: absolute;
  display: block;
  left: 0;
}

#container {
  background: white;
}

.share-mod {
  display: none !important!;
}

#header {
  display: block;
  z-index: -2;
  position: absolute;
}
.hnews {
margin-top: 640px;
}
.article-body {
  margin-top: 180px;
}

.social-links .left {
  display: none;
}

.social-links .right {
  display: none;
}

.article-share {
  height: 2px;
}
.hdnce-item-43418 {
     position:absolute;
    top: 70px;
   width: 100%;

}

.intro-image {
	height: 420px;
	padding-top:70px;
	width:100%;
	margin: 0;
}

.head-wrapper {
	width:100%;
	height: 240px;
	padding:40px 10%;
	padding-top:70px;
}

.intro {
	margin-top: 80px;
}
#container #content {
width:100%;
}
#container #content .article-wrap {
	margin-top: 50px;
       width:100%;
}
#container #content .article_page .zone-1 {
    width:100% !important;
}
.headline {
	font-family: "Antenna";
	font-size: 56px;
	float: left;
	margin-left: -14px;
	position: relative;
}


.real-estate-head .headline {
	margin-left: -35px;
	margin-top: 20px;
}

.food-head .headline {
	margin-left: 5px;
	margin-top: 20px;
}

.lifestyle-head .headline {
	margin-left: 8px;
	margin-top: 26px;
}

.tech-head .headline {
	margin-left: -4px;
	margin-top:10px;
}
.transportation-head {
	width:110%;
}
.transportation-head .headline {
	font-size: 80px;
	margin-left:5px;
	margin-top: 20px;
}
.head-wrapper img {
	float:left;
	position: relative;
}
.real-estate-head img {
	height: 120px;
	margin-left: -20px
}

.food-head img {
	height: 100px;
	margin-top: 20px;
}

.lifestyle-head img {
	height: 150px;
	margin-top: -20px;
}

.tech-head img {
	height: 86px;
	margin-top: 24px;
}

.transportation-head img {
	height: 94px;
	margin-top: 26px;
}

.hst-articletext .text {
font-family: 'FarnhamText', serif;
margin-top:60px;
}

@media screen and (max-width: 751px) {
	.section .transportation-head .headline {
		font-size: 54px;
	}
	.section .transportation-head img {
		height: 66px;
		margin-top: 0;
	}
}

@media screen and (max-width: 600px) {
	.section .headline {
		font-size: 60px;
	}
	.section .transportation-head img {
		display: none;
	}
	.section .food-head .headline {
		margin-left:-9px;
	}
	.section .transportation-head .headline {
		font-size: 40px
	}
	.section .food-head img {
		height: 80px;
		margin-top: -5px;
	}

	.section .lifestyle-head img {
		height: 100px;
		margin-top: -10px;
	}

	.section .tech-head img {
		height: 90px;
		margin-top: 11px;
	}

	.section .transportation-head img {
		height: 75px;
		margin-top: 25px;
	}

}
.hst-articleprinter {
display:none;
}
</style>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.magellan.min.js"></script>
    
    <script>
        console.log("initializing foundation");
        $(document).foundation({
          "magellan-expedition": {
            offset_by_height: false
          }
        });

       
    </script>